 //
//    /
//   < =======  Вам туда! Выберите вкладку main.cpp для начала работы с проектом.
//    \  
//
//       Здесь (C:\dllBridge\ForWinLego\HELP\Examples.cpp) лежит файл с примерами 
//       --------------------------------------------------------------
//    1) Кнопки (создание и опрос нажатия)
//    2) Левая кнопка мыши (определить координвты курсора в момент нажатия )
//    3) EditBox или по русски - поле ввода (создание и использование в разных режимах)
//    4) Функция __Order() пример использования
//    5) Клавиатура. Опрос нажатых кнопок на клавиатуре  (Key_Pressed, Key_Counter)
//    6) Вывод картинки (PNG, JPG, BMP) в окно программы и проигрывание звукового файла (Wav, mp3)
//       ==========================================================================
//       Можно открыть этот файл и скопировать примеры для проверки и экспериментов. 
//		 Для этого просто поменяйте содержимое файла main.cpp на интересующий Вас		   ...    *    .   _  .   
//		 пример и скомпилируйте заново проект (перед запуском).							*  .  *     .   * (_)   *
//																						  .      |*  ..   *   ..
//																						   .  * \|  *  ___  . . *
//																						*   \/   |/ \/{o,o}     .
//																						  _\_\   |  / /)  )* _/_ *
//																						      \ \| /,--"-"---  ..
//																						_-----`  |(,__,__/__/_ .
//																						       \ ||      ..
//																						        ||| .            *
//																						        |||
//																						ejm98   |||
//																						  , -=-~' .-^- _







/*

///////////////////////////////////////////////////////////////////////// 
NewMENU MENU                                                           //    sample menu
{
   POPUP "&Options"
   {
	  MENUITEM "&About",        290		
   }
}


NewICON ICON   "resource\\Crazy.ico"

*/

///////////////////////////////////////////////////////////////////////// 
LegoMENU MENU                                                          //    standart menu
{
   POPUP "&Options"
   {
	  MENUITEM "&ToolBar"  ,    277		
	  MENUITEM "&StatusBar",    259		
      MENUITEM "&UniMons",      279	 
 //   MENUITEM "&QueueMonitor", 401		   	
      MENUITEM "&Colobok",      280
   }
   
   POPUP "&Other"
   {
		
      MENUITEM "&TestDemo",     260			
	  MENUITEM "&ZX-Demo",      278						
      MENUITEM "&About",        290		

   }   
}

MYICON ICON   "C:\\dllBridge\\resource\\icon1.ico"

//330    BITMAP     "resource\\save.bmp"                                            // DISCARDABLE 
                                                                                    //   ToolBar                  277  
                                                                                    //   ZX-Demo                  278
																					//   UniMons                  279
																					//   Colobok                  280    
 



#include   <windows.h> 



MYDB DIALOG 130, 50, 160, 130

CAPTION "About WinLego project"
FONT 8, "MS Sans Serif"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
{
    LTEXT	        "Let's improve the project together.", 281, 10,  7, 176, 11                              //  281
	  
	LTEXT	        "Date : 3 March 2019 ", 282, 37, 21, 96, 11                                          //  282 
	
	LTEXT           "REV : 0.16.4",  283, 37, 35, 76, 11                                                     //  283

	PUSHBUTTON      "Exit",   IDCANCEL, 124, 109, 25, 12                  								 // IDCANCEL
               
	LTEXT           "WWW :",         284, 10, 91, 46, 11   	              								     //  284 
				   
	EDITTEXT        285, 43, 89, 100, 12, ES_AUTOHSCROLL			   		  								 //  285
	               
	LTEXT           "E-mail :",     286, 10, 110, 46, 11   	              								     //  286 
				   
	EDITTEXT        287, 43, 109, 74, 12, ES_AUTOHSCROLL	                  								 //  287
}



/////////////////////////////////////////////////////////////////////////  ToolBar                           //  301
                                                                                                             //  302
                                                                                                             //  303
                                                                                                             //  304
                                                                                                             //  305
                                                                                                             //  306
                                                                                                             //  307
                                                                                                             //  308
                                                                                                             //  309																											 																											 																											 																											                                                                                                              









											






























